<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Force HTTPS
    RewriteCond %{HTTPS} off
    RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

    # DirectoryIndex
    DirectoryIndex homepage.php

    # URL Rewriting
    RewriteCond %{SCRIPT_FILENAME} !-d
    RewriteCond %{SCRIPT_FILENAME} !-f
    RewriteRule ^login$ login_page.php [L]
    RewriteRule ^login_page$ login_page.php [L]
    RewriteRule ^signup$ signup_page.php [L]
    RewriteRule ^verify$ waiting_verify.php [L]
    RewriteRule ^verified$ verify_by_email.php [L]
    RewriteRule ^$ homepage.php [L]
</IfModule>
