body {
    font-family: 'Prompt', sans-serif !important;
    font-size: 14px;
    background-color: #1e1e1e !important;
    color: white !important;
}

tr.sub-ticket.shadow-sm.p-3.mb-5.bg-body {
    background-color: #171515 !important;
    color: white;
    border-bottom: 1px solid #272727 !important;
}

tr.shadow-sm.p-3.mb-5 {
    background-color: #171515 !important;
    color: white;
    border-bottom: 1px solid #272727 !important;
}

tr.sub-ticket {
    color: white;
}

tr {
    color: white;
}

.btn-primary {
    color: #fff;
    background-color: #1a1a1a;
    border-color: #134a9a;
}

input {
    background-color: #0f0f0f !important;
    border: 0px solid !important;
    color: white !important;
}

textarea {
    background-color: #0f0f0f !important;
    border: 0px solid !important;
    color: white !important;
}

select#status_filter {
    background-color: #414141;
    border: 0px solid;
    color: white;
    border-radius: 3px;
}

select#be_status_on_change {
    background-color: #0f0f0f;
    color: #b32121;
}

.offcanvas-body {
    background-color: #181818 !important;
    color: white;
}

a:hover {
    color: #dc3545;
    text-decoration: auto;
    font-weight: bold;
}

.nav-pills .nav-link.active,
.nav-pills .show .nav-link {
    background-color: #dc3545 !important;
    color: #fcfcfc !important;
    width: 100%;
}

.alert-success {
    color: #1ac570;
    background-color: #1c3128;
    border-color: #07512f;
}

.form-select {
    color: #e9ecef;
    background-color: #0f0f0f;
    border-color: #0f0f0f;
}

li.row.shadow-sm.rounded.md-3.p-2.bg-white {
    background-color: #0f0f0f !important;
}

span#basic-addon1 {
    background-color: #1d1d1d;
    color: white;
}

.table-hover>tbody>tr:hover {
    color: #b80f0f;
}

.card.text-dark.bg-light.mb-3 {
    background-color: #1e1e1e !important;
    color: white !important;
    margin-top: 20px !important;
    border: 1px solid transparent !important;
    align-items: center;
}


table.table.table-hover {
    border-bottom: 1px solid #282727;
}

.border-end {
    border-right: 1px solid #2c2c2c !important;
}

hr {
    background-color: #4f4f4f;
}

.col-5 {
    background-color: #121212 !important;
}

.des_cr {
    padding: 20px;
    border-radius: 10px;
    background: #0e0e0e;
    margin-bottom: 10px;
}

.load_cr_dt {
    background-color: #212121;
}

.card-body {
    align-self: normal;
}

button.ms-choice {
    background-color: #0f0f0f;
    border-color: #0f0f0f;
}

.col-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
    border-right: 1px solid #191919;
}

.col-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
    border-right: 1px solid #2f2d2d;
}

.list_bra {
    padding-right: 0;
    background: #212529!important;
    color: rgb(255, 255, 255);
}
a#logo_badge {
    margin: 25px 15px;
}
.card.text-white.bg-dark.mb-3 {
    background-color: #dc3545 !important;
    color: white !important;
    margin-top: 20px !important;
    border: 1px solid transparent !important;
    align-items: center;
}
.ns_detail_box{
    height: 100%;
    padding: 10px 20px;
    background: #181818;
}

.officerassingbox{
    padding: 20px;
    background: Black;
    margin: 10px;
    width: auto;
    border-radius: 10px;
}
.ns_detail_menu_box{
    margin-top: 25px;
    border-right: 1px #2b2929;
    border-right-style: double;
    height: auto;padding-top: 20px
}
.nsbox_header{
    border:0px solid;
}
.contentperson_table{
    border: 1px solid #262626;
}
.ns_detail_jobtable{
    border: 1px solid #262626;
}
.ns_detail_list{
    padding: 10px;
    background: Black;
}
.alert-primary {
    color: #0e58c6;
    background-color: #000916;
    border-color: #000000;
}
.form-select:disabled {
    background-color: #272727;
}
.action-block {
    border-radius: 5px;
    margin-top: 10px;
    background: #0c0c0c;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
    padding: 15px;
}
li.list-group-item {
    background-color: #0f0f0f !important;
    color: white;
    border: solid 1px #171717;
}
.badge {
    display: inline-block;
    padding: .35em .65em;
    font-size: .75em;
    font-weight: 700;
    line-height: 1;
    color: #060404;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}
.btn-secondary {
    color: #fff;
    background-color: #212529;
    border-color: #212529;
}
.tox .tox-edit-area__iframe {
    background-color: #000;
    border: 0;
    box-sizing: border-box;
    flex: 1;
    -ms-flex-preferred-size: auto;
    height: 100%;
    position: absolute;
    width: 100%;
}


.tox-tinymce:not(.tox-tinymce-inline) .tox-editor-header:not(:first-child) .tox-toolbar-overlord:first-child .tox-toolbar__primary, .tox-tinymce:not(.tox-tinymce-inline) .tox-editor-header:not(:first-child) .tox-toolbar:first-child {
    border-top: 1px solid #000;
}
.tox-tinymce:not(.tox-tinymce-inline) .tox-editor-header:not(:first-child) .tox-toolbar-overlord:first-child .tox-toolbar__primary, .tox-tinymce:not(.tox-tinymce-inline) .tox-editor-header:not(:first-child) .tox-toolbar:first-child {
    border-top: 1px solid #000;
}
.tox .tox-toolbar, .tox .tox-toolbar__overflow, .tox .tox-toolbar__primary {
    background-color: #000;
    display: flex;
    flex: 0 0 auto;
    flex-shrink: 0;
    flex-wrap: wrap;
    padding: 0 0;
}
li.row.shadow-sm.rounded.md-3.p-2.bg-white {
    background-color: #0f0f0f !important;
}
.ts-board-col-left {
    border-left: 1px solid #272727;
}