body {
    font-family: 'Prompt', sans-serif !important;
    font-size: 14px;
    background-color: #f6f6f6;
}

a {
    color: gray;
    text-decoration: auto;
}

a:hover {
    color: black;
    text-decoration: auto;
    font-weight: bold;
}

label {
    font-weight: 800 !important;
}

.row {
    margin-bottom: 15px;
}

.multiple-select,
.multiple-select_adj,
.multiple-select_edit {
    width: 100%;
}

.header_form {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.container-sm {
    max-width: 500px;
    margin-top: 8%;
    /* padding: 10px !important 50px !important 100px !important !important; */
}

.list_bra .nav-pills .nav-link.active,
.list_bra .nav-pills .show .nav-link {
    color: white;
    border-radius: unset;
    background-color: #ff7683!important;
    font-weight: bolder;
}

/* .nav-link{
    color: white;
} */
.list_bra .nav-pills .nav-link {
    color: white !important;
}

.list_bra .nav-link:hover {
    color: white !important;
    width: 100%;
    font-weight: bolder;
}

.list_bra .nav-link.active:hover {
    color: #ffff !important;
}

.nav-pills .nav-link.active,
.nav-pills .show .nav-link {
    background-color: #f0f2fc87;
    color: white !important;
    width: 100%;
}

.navbar-brand {
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 1000;
}

.navbar-brand {
    color: #ffff !important;
}

.navbar-brand:hover {
    color: #ffff !important;
}

.list_bra {
    padding-right: 0;
    /* background: rgba(236, 236, 236, 1); */
    /* background: #191919; */
    /* background: #212529!important; */
    background-image: url('https://content-service-gate.cdse-commercecontent.com//base/image/11.jpg');
    color: black;
}

.my-1 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

.selection_filter {
    width: 150px;
    border: transparent;
    /* border-bottom:1px gray; */
    /* border-bottom-style: dotted; */
}

.selection_filter:active {
    border: transparent !important;
}

.selection_filter:focus {
    border: transparent !important;
    border-style: none;
}

ion-icon {
    font-size: 20px;
    margin: -0.2rem;
}

.link-light {
    color: white;
    padding: 0.2rem;
    padding-left: 40px;
    font-weight: 400;
    line-height: 1.5;
    font-size: 14px;
    font-family: 'Prompt', sans-serif !important;
}

.link-light:hover {
    color: white;
    background-color: #dbdbdb38;
    width: 100%;
    border-radius: 0px !important;
}

.link-light:focus {
    color: white;
    background-color: #dbdbdb38;
    width: 100%;
    border-radius: 0px !important;
}

.btn-check:focus+.btn,
.btn:focus {
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 0%)
}

.total_count_dashboard {
    text-align: center;
    font-size: 70px;
}

.unit_count_dashboard {
    text-align: center;
}

ion-icon {
    margin-right: 5px;
}

.task_detial {
    color: #6c757d;
    ;
    margin-left: 20px;
    margin-right: 20px;
    display: block;
    font-size: 13px;
    padding-bottom: 3px;
    padding-top: 3px;
}

.icon_bar_tootle {
    margin-left: 20px;
    margin-right: 50px;
    font-size: 13px;
}

.icon_ocv {
    margin-right: 0px !important;
    font-size: 14px;
    color: gray;
}

.ticket_relate {
    border-color: white;
    padding: 0px;
    padding-bottom: 5px
}

.col-board {
    border-right: 1px #dee2e6 solid;
}

.cr_title {
    margin-bottom: 10px;
}

.status_cr_list {
    margin-right: 5px;
    margin-left: 10px;
    color: #d8d8d887;
    font-size: 30px;
}

.des_cr {
    padding: 20px;
    border-radius: 10px;
    background: #f9f9f9;
    margin-bottom: 10px;
}

.custom-editor-wrapper {
    border: 1px solid #ccc;
    padding: 4px;
    margin: 1rem;
    max-width: 640px;
    border-radius: 4px;
    box-shadow: 0 3px 0px -1px rgba(0, 0, 0, .05);
}

.tox.tox-tinymce.tox-tinymce--toolbar-bottom {
    border: #d7d7d7 solid 1px!important;
    border-radius: 7px!important;
}
.tox-tinymce {
    border-radius: 7px!important;
}

.badge-status-npd-pd{
    /* padding */
    background: #a9a9a94f;
    color:#8f8f8f;
    border:#8f8f8f
}

.badge-status-npd-ip{
     /* inprogress */
    background: #ff9a59;
    color:white;
    border:#ff9a59
}

.badge-status-npd-c{
     /* close */
    background: #7befb2;
    color:#115636;
    border:#115636
}
.badge-status-npd-wc{
     /* waiting CTO */
     background: #499CF7;
     color:#093f8e;
     border:#499CF7;
}
.badge-status-npd-we{
    /* waiting exclution */
    background: #FA9193;
    color: white;
    border:#FA9193;
}
.badge-status-npd-wb{
    /* waiting buyer */
    background: #FE7A6F;
    color:#a80c1b;
    border:#FE7A6F;
}
.badge-status-npd-df{
    /* default */
    background: #a9a9a94f;
    color:#8f8f8f;
    border:#8f8f8f;
}
.npd-card-bording-priority-urgent{
    border-left: #dc3545 solid 8px;
}
.npd-card-bording-priority-high{
    border-left: #f396bf solid 8px;
}
.npd-card-bording-priority-medium{
    border-left: #f396bf solid 8px;
}
.npd-card-bording-priority-low{
    border-left: #ccc solid 8px;
}
.npd-card-bording-priority-default{
    border-left: #ccc solid 8px;
}
.ts-board-col-left{
    border-left: 1px solid #e3e2e2;
}
th.sorting {
    border: 0px;
    width: 0px;
    color: #494848;
    font-family: revert;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current,
 .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
    background: antiquewhite;
    border-radius: 10px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: #9d7706 !important;
    border: 2px solid #ffa507
}
.dataTables_wrapper .dataTables_length select {
    border: 0px solid #fff;
    border-radius: 3px;
    padding: 5px;
    background-color: transparent;
    padding: 4px;
}
table.dataTable.no-footer {
    border-bottom: 0px solid #111;
}

.ns_detail_box{
    height: 100%;
    padding: 10px 20px;
    background: #f3f3f3;
}
.officerassingbox{
    padding: 20px;
    background: white;
    margin: 10px;
    width: auto;
    border-radius: 10px;
}
.ns_detail_manubox{
    margin-top: 25px;
    border-right: 1px white;
    border-right-style: double;
    height: auto;padding-top: 20px
}
.nsdetaillist{
    padding: 10px;
    background: white;
}
.action-block {
    border-radius: 5px;
    margin-top: 10px;
    background: #ffffff;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
    padding: 15px;
}

/* tooltip */

.tooltip-main {
    width: 15px!important;
    height: 15px!important;
    border-radius: 50%!important;
    font-weight: 700!important;
    background: #f3f3f3!important;
    border: 1px solid #737373!important;
    color: #737373!important;
    margin: 4px 121px 0 5px!important;
    float: right!important;
    text-align: left !important;
  }
  
  .tooltip-qm {
    float: left!important;
    margin: -2px 0px 3px 4px!important;
    font-size: 12px!important;
  }
  
  .tooltip-inner {
    max-width: auto!important;
    min-width:150px!important;
    height: fit-content!important;
    font-size: 12px!important;
    padding: 10px 20px 10px 20px!important;
    background: #000000!important;
    color: #f8f9fa!important;
    border: 1px solid #000000!important;
    text-align: left!important;
    position:absolute !important;
    margin-left:40px!important;
      margin-top:5px!important;
  }
  
  .tooltip.show {
    opacity: 1!important;
  }
  
/* downdown account select
  .container_dd {
    display: flex;
    flex-wrap: wrap;
    width: 25%;
  }
  
  .selected_dd {
    border: thin solid darkgray;
    border-radius: 5px;
    background: lightgray;
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 1.5em;
    margin-bottom: .2em;
    padding-left: .5em;
    min-width: 150px;
    position: relative;
  }
  
  .selected_dd:after {
    font-family: FontAwesome;
    content: "\f0d7";
    margin-left: 1em;
    position: absolute;
    right: .5em;
  }
  
  .options_dd {
    display: none;
    margin: 0;
    padding: 0;
  }
  
  .options_dd.open_dd {
    display: inline-block;
  }
  
  li.option_dd {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
  }
  
  li.option_dd >img {
    margin-right: 1em;
  } */



